<h2>Hello Mr Admin, what would you like to do now?<h2>
<h4>This area is for setting up or removing users who are not true book fans!<h4>

<%= link_to "Create a new user", new_user_path %>

<hr>
<div class="top">
<p>Users</p>
</div>

<% @users.each do |user|  %>

  <ul class="list-group list-group-horizontal top-sm">
    <li class="list-group-item">
      Name : <%= user.name %>
    </li>

    <li class="list-group-item">
      UserName: <%= user.username %>
    </li>

    <li class="list-group-item" style="border:0px;">
      <%= link_to "Edit", edit_user_path(user), class:"btn btn-primary" %>
    </li>

  </ul>
<hr>
<% end %>
