<h1>The Book Club</h1>
<p>A library for your favorite books</p>

<%# /main is just a place holder for now. Should be whatever the main index or book section is %>

<%= link_to "Come Take A Seat inside the Book Club", "/main" %>

<%# this is for signing out of the session %>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>